# emacs byte-compiled stuff
*.elc
# ignore ncmpcpp error log file
ncmpcpp/error.log
# ranger
ranger/bookmarks
ranger/history
ranger/tagged
# qutebrowser
qutebrowser/bookmarks/
qutebrowser/qsettings
qutebrowser/quickmarks
qutebrowser/autoconfig.yml
# mpv watch later
mpv/watch_later
kitty/*.bak
