* {
    background-color: #2E3440;
    border-color: #81A1C1;
    text-color: #E5E9F0;
}

#element selected {
    background-color: @border-color;
    text-color: @background-color;
}

#window {
    background-color: @background-color;
    border: 2;
    padding: 10;
}

inputbar {
    children: [ textbox-prompt-colon, entry, case-indicator];
}

textbox-prompt-colon {
    expand: false;
    str: "";
    margin: 0px 0.3em 0em 0em;
}
