* {
    background-color: #061229;
    border-color: #717885;
    text-color: #b8bbc2;
}

#element selected {
    background-color: #717885;
    text-color: #061229;
}

#window {
    background-color: @background-color;
    border: 2;
    padding: 10;
}

inputbar {
    children: [ textbox-prompt-colon, entry, case-indicator];
}

textbox-prompt-colon {
    expand: false;
    str: "";
    margin: 0px 0.3em 0em 0em;
}
