configuration {
	modi: "window,run,drun,combi";
	width: 480;
	font: "IBM Plex Sans Condensed 11";
	theme: "onedark";
	kb-remove-char-back: "BackSpace";
	kb-remove-to-eol: "Control+p";
	kb-accept-entry: "Control+m,Return,KP_Enter";
	kb-row-up: "Up,Control+k,ISO_Left_Tab";
	kb-row-down: "Down,Control+j";
}
