* {
    background-color: #282a36;
    border-color: #f1fa8c;
    text-color: #f8f8f2;
}

#element selected {
    background-color: #50fa7b;
    text-color: #282a36;
}

#window {
    background-color: @background-color;
    border: 2;
    padding: 10;
}

inputbar {
    children: [ textbox-prompt-colon, entry, case-indicator];
}

textbox-prompt-colon {
    expand: false;
    str: "";
    margin: 0px 0.3em 0em 0em;
}
