* {
    background-color: #fafafa;
    border-color: #4078f2;
    text-color: #282c34;
}

#element selected {
    background-color: #4078f2;
    text-color: #fafafa;
}

#window {
    background-color: @background-color;
    border: 2;
    padding: 10;
}

#listview {
    lines: 8;
}

inputbar {
    children: [ textbox-prompt-colon, entry, case-indicator];
}

textbox-prompt-colon {
    expand: false;
    str: "";
    margin: 0px 0.3em 0em 0em;
}
