* {
    border: none;
    border-radius: 0;
    font-family: Cantarell, DejaVu Sans, sans;
    font-size: 15px;
    min-height: 0;
}

window#waybar {
    background: rgba(40, 44, 52, 0.8);
    color: #abb2bf;
    transition-property: background, background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background: transparent;
}
window#waybar.solo {
    background: #FFFFFF;
}
*/

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button {
    padding: 0 2px;
    background: #282c34;
    color: #abb2bf;
    border-bottom: 3px solid #282c34;
}

#workspaces button.focused {
    background: #353b45;
    color: #abb2bf;
    border-bottom: 3px solid #61afef;
}

#workspaces button.urgent {
    background-color: #e06c75;
    color: #282c34;
    border-bottom: 3px solid #e06c75;
}

#window {
    padding: 0 5px;
}

#mode {
    background: #282c34;
    color: #abb2bf;
    border-bottom: 3px solid #282c34;
}

#clock, #battery, #cpu, #memory, #temperature, #backlight, #network,
#pulseaudio, #custom-media, #tray, #mode, #idle_inhibitor, #custom-power {
    padding: 0 5px;
    margin: 0 0px;
    color: #abb2bf;
    background-color: #282c34;
}

#battery {
    background-color: #282c34;
    color: #abb2bf;
}

#battery.charging {
    color: #abb2bf;
    background-color: #282c34;
}

@keyframes blink {
    to {
        background-color: #282c34;
        color: #abb2bf;
    }
}

#battery.critical:not(.charging) {
    background: #282c34;
    color: #e06c75;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #282c34;
}
